/*bottom_fixed*/
#fixed {
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 15px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  gap: 250px;
}
#fixed .logo {
  width: 90px;
  height: 50px;
  padding-bottom: 5px;
}
#fixed .text_box {
  color: #5b5b5b;
  width: 300px;
}
#fixed .text_box input {
  padding: 5px 2px;
  border: 1px solid #5b5b5b;
  border-radius: 5px;
  width: 47%;
  font-size: 0.7rem;
}
#fixed .text_box input:focus {
  outline: none;
}
#fixed .text_box .counsel {
  width: 98%;
  margin-top: 7px;
}
#fixed .check_box {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  font-size: 0.7rem;
}
#fixed .check_box input {
  appearance: none;
  box-sizing: border-box;
  background-clip: content-box;
  padding: 3px;
  width: 17px;
  height: 17px;
  border: 1px solid #5b5b5b;
  cursor: pointer;
}
#fixed .check_box input:checked {
  border-color: #6099ee;
  background-color: #6099ee;
}
#fixed .check_box p {
  margin: 0px 15px 0px 10px;
}
#fixed .check_box .button {
  width: 130px;
  text-align: center;
  background-color: #6099ee;
  border-radius: 12px;
}
#fixed .check_box .button a {
  display: block;
  color: white;
  padding: 12px 0px;
  font-weight: bolder;
  font-size: 0.8rem;
}
#fixed .check_box .button a:hover {
  background-color: white;
  border: 1px solid #6099ee;
  color: #6099ee;
  border-radius: 12px;
}

/*up_fixed*/
#up_fixed {
  position: fixed;
  bottom: 60px;
  right: 35px;
  z-index: 10;
  font-size: 25px;
  background-color: #6099ee;
  width: 55px;
  padding: 10px 0px;
  border-radius: 50%;
  text-align: center;
}
#up_fixed a {
  color: white;
}
::-webkit-scrollbar {
  width: 8px; /* 세로축 스크롤바 폭 너비 */
}
::-webkit-scrollbar-thumb {
  background-color: #6099ee;
}