* {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #5b5b5b;
}

html,
body {
  color: #5b5b5b;
}
.logo img {
  width: 100%;
}

/*header*/
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

/*main_menu*/
header #main {
  display: flex;
  justify-content: space-between;
  padding: 5px 100px;
  box-sizing: border-box;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
header #main .logo {
  width: 100px;
  height: 55px;
  padding-bottom: 5px;
}
header #main .menu {
  display: flex;
  gap: 80px;
  font-size: 1.1rem;
}
header #main .menu li {
  text-align: center;
}
header #main .menu a {
  display: block;
  padding: 15px 5px;
}
header #main .menu a:hover {
  color: #6099ee;
}

/*sub_menu*/
header #sub {
  display: flex;

  width: 100%;
}
header #sub ul {
  width: 100%;
  gap: 50px;
  justify-content: right;
  background-color: rgba(255, 255, 255, 0.8);
}
header #sub .doc {
  padding-right: 420px;
  display: none;
}
header #sub .con {
  padding-right: 230px;
  display: none;
}
header #sub .rev {
  padding-right: 75px;
  display: none;
}
header #sub .comu {
  padding-right: 105px;
  display: none;
}
header #sub li {
  text-align: center;
}
header #sub a {
  display: block;
  padding: 10px;
}
header #sub a:hover {
  color: #6099ee;
}
